Repository ayutaz/orochi: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, prettier, go-test, go-mod-tidy

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

prettier:
  name: prettier
  entry: bash -c 'cd web-ui && npx prettier --write'
  language: system
  pass_filenames: true

go-test:
  name: go test
  entry: go test ./...
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go mod tidy
  entry: go mod tidy
  language: system
  pass_filenames: false

feat: add frontend testing with Vitest (Phase 2)
  .github/workflows/ci.yml
  Makefile
  web-ui/package-lock.json
  web-ui/package.json
  web-ui/src/components/ErrorBoundary.test.tsx
  web-ui/src/test/setup.ts
  web-ui/src/test/test-utils.tsx
  web-ui/src/utils/format.test.ts
  web-ui/vitest.config.ts
Due: prettier

fix: resolve CI failures for frontend testing
  internal/web/dist/assets/index-DIw2o6Ih.js
  internal/web/dist/assets/index-DwCYVCze.js
  internal/web/dist/index.html
  web-ui/package-lock.json
  web-ui/package.json
  web-ui/src/components/ErrorBoundary.test.tsx
  web-ui/src/test/setup.ts
  web-ui/src/test/test-utils.tsx
  web-ui/src/utils/format.test.ts
Due: prettier

feat: Add frontend testing with Vitest (Phase 2) (#13)
  .github/workflows/ci.yml
  Makefile
  internal/web/dist/assets/index-DIw2o6Ih.js
  internal/web/dist/assets/index-DwCYVCze.js
  internal/web/dist/index.html
  web-ui/package-lock.json
  web-ui/package.json
  web-ui/src/components/ErrorBoundary.test.tsx
  web-ui/src/test/setup.ts
  web-ui/src/test/test-utils.tsx
  web-ui/src/utils/format.test.ts
  web-ui/vitest.config.ts
Due: prettier

feat: add advanced quality tools (Phase 3)
  .github/dependabot.yml
  .github/workflows/semantic-release.yml
  .husky/commit-msg
  .releaserc.json
  commitlint.config.js
  package.json
  web-ui/.husky/pre-commit
  web-ui/package-lock.json
  web-ui/package.json
Due: prettier

feat: add advanced quality tools (Phase 3) (#14)
  .github/dependabot.yml
  .github/workflows/semantic-release.yml
  .husky/commit-msg
  .releaserc.json
  commitlint.config.js
  package.json
  web-ui/.husky/pre-commit
  web-ui/package-lock.json
  web-ui/package.json
Due: prettier

fix: ベンチマークテストのコンパイルエラーを修正
  internal/torrent/benchmark_test.go
Due: go-fmt, go-test, go-mod-tidy

fix: フロントエンドコードのフォーマットを修正
  web-ui/src/hooks/useWebSocketOptimized.ts
Due: prettier

fix: benchmark_test.goのフォーマットを修正
  internal/torrent/benchmark_test.go
Due: go-fmt, go-test, go-mod-tidy

feat: Windowsバイナリのビルドスクリプトを追加し、CGOを無効化
  Makefile
  build-windows.sh
  test-binary.sh
Due: none

build: add npm configuration for semantic release and commit linting
  .gitignore
  package-lock.json
Due: prettier

fix: add pre-build checks to prevent script permission errors in CI
  .github/workflows/ci.yml
  Makefile
  build-windows.sh
  test-binary.sh
Due: none

Path conditions:
  go-fmt: any of: \.go$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.json$, \.(md|markdown|mdown)$
  go-test: any of: \.go$
  go-mod-tidy: any of: \.go$
